<button class="hamburger" aria-label="открыть меню">
  <span class="hamburger--top hamburger--inner"></span>
  <span class="hamburger--middle hamburger--inner"></span>
  <span class="hamburger--bottom hamburger--inner"></span>
</button>
