<nav class="menu">
  <ul class="menu-list">
    <li><a href="#about-section">Немного о нас</a></li>
    <li><a href="#teachers-section">Преподаватели</a></li>
    <li><a href="#numbers-section">Сухие цифры</a></li>
    <li><a href="#process-section">О курсе</a></li>
    <li><a href="#reviews-section">Отзывы учеников</a></li>
    <li><a href="#site-footer">Контакты</a></li>
    <li><button class="open-modal-btn">Подать заявку</button></li>
  </ul>
</nav>
<div class="overlay"></div>
