<section class="about-section" id="about-section">
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-6 order-last order-md-first">
      <div class="section-text-part">
        <div class="circle-point">
          <span class="number">01</span>
        </div>
        <h2>Немного о нас</h2>
        <p>
        Мы в Owl очень любим свою работу. Проводим языковые курсы уже более трех лет. За это время мы выпустили более 500 учеников.  Наши курсы совмещают приятное с полезным - вы изучаете язык, общаясь с носителями языка, и, одновременно, исследуете один из интереснейших городов мира.   
        </p>
      </div>
    </div>
    <div class="col-xl-5 offset-lg-1 col-lg-6 col-md-6 order-first order-md-last">
      <picture>
      <img src="/images/booth.png" alt="фотография красной телефонной будки">
      </picture>
    </div>
  </div>
</section>
