<footer class="site-footer" id="site-footer">
  <ul>
    <li class="phone-li">
      <i class="icon-phone"></i>
      <a class="phone-number" href="tel:8-499 271-13-35">8-499 271-13-35</a>
    </li>
    <li>
      <i class="icon-mail"></i>
      <a class="class-email" href="mailto:owl-school@gmail.com">owl-school@gmail.com</a>
    </li>
    <li>
      <ul class="socials">
        <li>
          <a href="#" aria-label="instagram"><i class="icon-instagram"></i></a>
        </li>
        <li>
          <a href="#" aria-label="vkontakte"><i class="icon-vkontakte"></i></a>
        </li>
        <li>
          <a href="#" aria-label="facebook"><i class="icon-facebook"></i></a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
