<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <picture>
          <img src="/images/big_ben.png" alt="фотография биг бена">
        </picture>
      </div>
      <div class="col-md-6 col-sm-6 offset-md-1">
        <div class="hero">
          <h1>Школа английского языка <span class="brand-accent">Owl</span></h1>
          <p>Двухнедельная программа в <span class="place">Лондоне</span></p>
          <a class="button" href="#about-section">Узнать больше</a>
        </div>
      </div>
    </div>
  </div>
</header>
