<section class="numbers-section" id="numbers-section">
  <div class="row">
    <div class="col-lg-7 col-xl-7 offset-xl-1 col-md-7">
      <picture>
      <img src="/images/underground.png" alt="логотип лондонского метро">
      </picture>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-5">
      <div class="section-text-part">
        <div class="circle-point"><span class="number">03</span></div>
        <h2>Цифры</h2>
        <ul class="numbers-list">
          <li>продолжительность поездки - <span class="number-accent">1 месяц</span></li>
          <li>стоимость - <span class="number-accent">200 тыс. руб.</span></li>
          <li>возрастное ограничение - <span class="number-accent">от 16 лет</span></li>
          <li>питание - <span class="number-accent">3 раза в день</span></li>
          <li>размер группы - <span class="number-accent">30 человек</span></li>
          <li>полет из Москвы до Лондона - <span class="number-accent">10ч. 35м.</span></li>
        </ul>
      </div>  
    </div>
  </div>
</section>
