<section class="process-section" id="process-section">
  <div class="row">
    <div class="col-lg-4 col-md-5 order-last order-md-first">
      <div class="section-text-part">
        <div class="circle-point"><span class="number">04</span></div>
        <h2>Чем будем заниматься?</h2>
        <p>Культурная программа очень насыщенна. Планируется посещение практически всех местных достопримечательностей - начиная от <span class="accent-text">Биг Бена</span> и заканчивая <span class="accent-text">Букингемским дворцом</span>. Забеги на местные рынки,  включая известнейший <span class="accent-text">Бороу</span>. Музеи, магазины. И самое главное - много-много общения с носителями языка.</p>
      </div>
    </div>
    <div class="col-xl-7 col-lg-8 col-md-7 offset-xl-1 order-first order-md-last">
      <picture>
      <img src="/images/bridge.png" alt="разводной мост">
      </picture>
    </div>
  </div>
</section>
