<section class="reviews-section" id="reviews-section">
  <div class="section-text-part">
    <div class="circle-point"><span class="number">05</span></div>
    <h2>Отзывы учеников</h2>
  </div>
  <div class="reviews-slider-wrap">
    <div class="container relative no-padding">
      <nav class="reviews-slider-nav">
        <button class="slider-btn prev-slide-btn" aria-label="предыдущий отзыв">
          <i class="icon-angle-left"></i>
        </button>
        <button class="slider-btn next-slide-btn" aria-label="следующий отзыв">
          <i class="icon-angle-right"></i>
        </button>
      </nav>
      <div class="reviews-slider">
        <div class="item">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <img src="/images/review-1.jpg" alt="фотография автора отзыва" class="review-photo">
            </div>
            <div class="col-xl-5 col-sm-6">
              <div class="review-text">
                <h3>Катерина, 25 лет</h3>
                <p>Я в восторге от поездки! Море незабываемых впечатлений и отличные преподаватели. Я без толку учила английский годами а здесь бегло заговорила на нем уже спустя неделю!</p>
              </div>     
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <img src="/images/review-2.jpg" alt="фотография автора отзыва" class="review-photo">
            </div>
            <div class="col-xl-5 col-sm-6">
              <div class="review-text">
                <h3>Эльза, 19 лет</h3>
                <p>Это была моя первая поездка за рубеж. Английский понимала очень плохо, но к конце курса стала понимать даже довольно беглую речь. Впечатления только положительные.</p>
              </div>     
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <img src="/images/review-3.jpg" alt="фотография автора отзыва" class="review-photo">
            </div>
            <div class="col-sm-6 col-xl-5">
              <div class="review-text">
                <h3>Михаил, 60 лет</h3>
                <p>Поначалу комплексовал из-за своего возраста но в итоге решился на поездку и нисколько об этом не пожалел! Красивейший город и добрейшие местные. Отличные преподаватели. Комфортные условия проживания и вкусное питание! </p>
              </div>     
            </div>
          </div>
        </div>
      </div>           
    </div>   
  </div>
</section>
