<section id="teachers-section" class="teachers-section">
  <div class="section-text-part">
    <div class="circle-point">
      <div class="number">02</div>
    </div>
    <h2>Преподаватели</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="teacher-item">
          <img src="/images/teacher-1.jpg" alt="">
          <h3>Дарья Никитина</h3>
          <ul class="teacher-features">
            <li>нативный носитель языка</li>
            <li>живет в Лондоне 30 лет</li>
            <li>профессиональная переводчица</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="teacher-item">
          <img src="/images/teacher-2.jpg" alt="">
          <h3>Сергей Кузнецов</h3>
          <ul class="teacher-features">
            <li>живет в Лондоне 10 лет</li>
            <li>магистр шоппинга</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="teacher-item teacher-third">
          <img src="/images/teacher-3.jpg" alt="">
          <h3>Хоу Янь</h3>
          <ul class="teacher-features">
            <li>нативный носитель языка</li>
            <li>живет в Лондоне 25 лет</li>
            <li>бакалавр по специальности </br>“Английская литература”</li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</section>
