<section class="top-section">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-5">
      <div class="top-section--left">
      <%- include('../hamburger') %>
      <button class="theme-toggler" title="изменить тему на день/ночь">
        <i class="icon-moon"></i>
      </button>
      </div>
    </div>
    <div class="col-md-4 d-md-block d-none">
      <div class="top-section--center">
      <a href="/" aria-label="Домашняя страница">
        <img class="logo" src="/images/logo_dark.svg" alt="Логотип Owl - сова в шапочке-конфедератке">
      </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-7">
      <div class="top-section--right">
        <button class="button open-modal-btn">Подать заявку</button>
      </div>
    </div>
  </div>
</section>
